[client]
default-character-set           = utf8

[mysql]
default-character-set           = utf8

[mysqld]
# bind-address                    = 0.0.0.0
# general_log_file                = /var/log/mysql/mysql.log
# general_log                     = 1

table_cache                     = 4096
key_buffer_size                 = 16M
sort_buffer_size                = 8M
read_buffer_size                = 16M
query_cache_size                = 64M
query_cache_type                = 1
tmp_table_size                  = 64M
max_heap_table_size             = 64M
join_buffer_size                = 2M

innodb_file_per_table           = 1
innodb_flush_method             = O_DIRECT
innodb_buffer_pool_size         = 1024M
# innodb_additional_mem_pool_size = 20M
innodb_log_file_size            = 100M
innodb_log_buffer_size          = 16M
innodb_flush_log_at_trx_commit  = 0

transaction-isolation           = READ-COMMITTED
default-time-zone               = '+07:00'
sql_mode                        = ""
collation-server                = utf8_unicode_ci
init-connect                    ='SET NAMES utf8'
character-set-server            = utf8